.hero {
  $base-border-radius: 3px !default;
  $large-screen: em(860) !default;
  $hero-background-top: darken($action-color, 10%);
  $hero-background-bottom: lighten($action-color, 10%);
  $hero-color: #FFF;
  $gradient-angle: 10deg;
  $hero-image: '../images/splash_app-bg.jpg';
  // $hero-image: '';

  @include background(url($hero-image), no-repeat $hero-background-top scroll);
  background-color: $action-color;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  button {
    background: darken($action-color, 10%);
    &:hover {
      background: darken($action-color, 20%);
    }
  }

  .hero-logo img {
    height: 4em;
    margin: 1em 0;
  }

  .hero-product {    
    position: relative;
    bottom: -7px;
    z-index: 2;    
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 2.5em;
    padding-bottom: 0;
    text-align: center;
    position: relative;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 2em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 2.4em;
        }
      }

      p {
        font-weight: 400;
        line-height: 1.4em;
        margin: 0 auto 1em auto;

        @include media($large-screen) {
          font-size: 1.4em;
          max-width: 60%;
        }
      }
    }
  }
}
