.media {  
  $media-gutter: 1.4em;
  $media-color: $base-font-color;
  $media-background: lighten($action-color, 15%);
  $media-detail-color: transparentize($media-color, 0.5);
  
  border-bottom: 1px solid transparentize($media-color, 0.9);
  display: table;
  margin-bottom: $base-spacing;
  padding-bottom: 1em;
  width: 100%;

  .media-content {
    display: table-cell;
    vertical-align: $media-image-vert-alignment;
  }

  .media-content {
    width: 100%;

    h1 {
      font-size: 1em;
      margin: 0 0 0.5em 0;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    p.media-detail {
      color: $media-detail-color;
      font-size: 0.9em;
      font-style: italic;
    }
  }
}

