extends partials/_layout
block header
  link(rel='stylesheet', href='css/internal.css')

block content

  section.container
    article.body
      form
        h1 Get in touch
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.
        p
          label(for='text_field') Text Field:
          input#text_field(type='text')
        p
          label(for='text_area') Text Area:
          textarea#text_area
        p
          label(for='select_element') Select Element:
          select(name='select_element')
            optgroup(label='Option Group 1')
              option(value='1') Option 1
              option(value='2') Option 2
              option(value='3') Option 3
            optgroup(label='Option Group 2')
              option(value='1') Option 1
              option(value='2') Option 2
              option(value='3') Option 3
        p
          label(for='radio_buttons') Radio Buttons:
          label
            input.radio(type='radio', name='radio_button', value='radio_1')
            |  Radio 1
          label
            input.radio(type='radio', name='radio_button', value='radio_2')
            |  Radio 2
          label
            input.radio(type='radio', name='radio_button', value='radio_3')
            |  Radio 3
        p
          label(for='checkboxes') Checkboxes:
          label
            input.checkbox(type='checkbox', name='checkboxes', value='check_1')
            |  Checkbox 1
          label
            input.checkbox(type='checkbox', name='checkboxes', value='check_2')
            |  Checkbox 2
          label
            input.checkbox(type='checkbox', name='checkboxes', value='check_3')
            |  Checkbox 3        
        p
          input(type='submit', value='Submit')
    aside.sidebar
      h2 Our Address