extends partials/_layout

block content

  include partials/_hero.jade

  .cta
    section
      h6 What our clients say
      include partials/_comments.jade
      button 
        | Try free for 30 days!
        br
        small Schedule a presentation

  include partials/_cards.jade

  .services
    .line-behind-text
        h6.section-title Our Services
    include partials/_bullets.jade