ul.bullets
    li.bullet
        .bullet-icon.bullet-icon-1
            a(href='#') 
                img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png\
      ', alt='')
        .bullet-content
            h2 
                a(href='#') This Bullet Title
            p
                | Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.
    li.bullet
        .bullet-icon.bullet-icon-2
            a(href='#')
                img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png', alt='')
        .bullet-content
            h2 
                a(href='#') Another Bullet Title
            p             
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.
    li.bullet
        .bullet-icon.bullet-icon-3
            a(href='#')
                img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png', alt='')
        .bullet-content
            h2 
                a(href='#') Last Bullet Title
            p                
                | Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.
