.cards
    .card
        .card-image
            a(href='#') 
                img(src='//c1.staticflickr.com/3/2720/4387476338_2e6732978b_n.jpg', alt='')
        .card-header
            a(href='#') About Bourbon
        .card-copy
            p A simple and lightweight mixin library for Sass.
    .card
        .card-image
            a(href='#')
                img(src='//c1.staticflickr.com/1/445/20261217179_01f81545f6_n.jpg', alt='')
        .card-header
            a(href='#') About Neat
        .card-copy
            p A lightweight semantic grid framework for Sass and Bourbon.
    .card
        .card-image
            a(href='#')
                img(src='//likecool.com/Style/TShirt/Refill%20Required%20TShirt/Refill-Required-TShirt.jpg', alt='')
        .card-header
            a(href='#') About Reffils
        .card-copy
            p Components and patterns built with Bourbon and Neat.