.hover-images
    .hover-tile-outer
        .hover-tile-container
            .hover-tile.hover-tile-visible
            .hover-tile.hover-tile-hidden
                h4 Hidden Copy
                p
                    | Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.
    .hover-tile-outer
        .hover-tile-container
            .hover-tile.hover-tile-visible
            .hover-tile.hover-tile-hidden
                a(href='javascript:void(0)')
                    h4 Hidden Copy 2
                    p
                        | Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.
    .hover-tile-outer
        .hover-tile-container
            .hover-tile.hover-tile-visible
            .hover-tile.hover-tile-hidden
                h4 Hidden Copy
                p
                    | Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.
    .hover-tile-outer
        .hover-tile-container
            .hover-tile.hover-tile-visible
            .hover-tile.hover-tile-hidden
                h4 Hidden Copy
                p
                    | Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.