.media  
  .media-content
    h1 
      a(href="#") First media Title or Author
    p.mute
      a.mute(href="#")
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.
    
hr
.media  
  .media-content
    h1
      a(href="#") First media Title or Author
    p
      a.mute(href="#")      
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.