header.navigation(role='banner')
    .navigation-wrapper
        a.logo(href='/index.html')
            img(src='/images/cd-logo.svg', alt='Logo Image')
        
        nav.main-nav(role='navigation')
          ul
            li.nav-link
              a(href='/')
                | Home
            li.nav-link
              a(href='/about.html')
                | About
            li.nav-link.more
                a(href='javascript:void(0)') Products
                ul.submenu
                    li
                        a(href='javascript:void(A)') Product A
                    li
                        a(href='javascript:void(B)') Product B
                    li
                        a(href='javascript:void(X)') Product XYZ
            li.nav-link
              a(href='/news.html')
                | News           
            li.nav-link
              a(href='/contact.html')
                | Contact

        .navigation-tools
            .search-bar
                form(role='search')
                    input(type='search', placeholder='Search...')
                    button(type='submit')
                        span.icon.icon-search