.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../svg/sprite.svg);
}
.icon-file-text {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}
.icon-search {
  width: 16px;
  height: 16px;
  background-position: -24px 0;
}
.icon-leaf {
  width: 16px;
  height: 16px;
  background-position: -48px 0;
}
.icon-facebook {
  width: 16px;
  height: 16px;
  background-position: -72px 0;
}
.icon-home {
  width: 16px;
  height: 16px;
  background-position: -96px 0;
}
.icon-office {
  width: 16px;
  height: 16px;
  background-position: -120px 0;
}
.icon-droplet {
  width: 16px;
  height: 16px;
  background-position: -144px 0;
}
.icon-ambients {
  width: 18px;
  height: 16px;
  background-position: -168px 0;
}
.icon-alarm {
  width: 16px;
  height: 16px;
  background-position: 0 -24px;
}
.icon-hour-glass {
  width: 16px;
  height: 16px;
  background-position: -24px -24px;
}
.icon-enlarge {
  width: 16px;
  height: 16px;
  background-position: -48px -24px;
}
.icon-sun {
  width: 16px;
  height: 16px;
  background-position: -72px -24px;
}
.icon-sort-amount-asc {
  width: 16px;
  height: 16px;
  background-position: -96px -24px;
}
